body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Set a background color for the body */
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    text-align: center;
}

.form {
    display: none;
}

.active {
    display: block;
}

.form-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-input {
    width: 100%; /* Take up full width */
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 25px; /* Rounded corners */
    font-size: 16px;
    box-sizing: border-box; /* Include padding in width calculation */
    transition: border-color 0.3s; /* Smooth transition on focus */
}

.form-input:focus {
    border-color: #4CAF50; /* Change border color on focus */
}

.form-button {
    width: 100%; /* Take up full width */
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 25px; /* Rounded corners */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.form-button:hover {
    background-color: #45a049; /* Darker shade on hover */
}

.form-link {
    color: #4CAF50;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition on hover */
}

.form-link:hover {
    color: #45a049; /* Darker shade on hover */
}

